.main_div{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
}

.header_div{
    height: 55px;
    width: 100vw;
    background-color: blue;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    
}

.heading{
    margin-top: 10px;
    font-size: 28px;
}